# Entornos virtuales
.venv/
venv/

# Archivos de entorno
.env
.env.*

# Archivos de Python
__pycache__/
*.pyc

# Archivos de Power BI temporales
*.tmp

# Archivos de sistema
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Power BI Desktop caches
*.pbix.zip
*.pbit.zip
~$*.pbix

.vscode/
